.main_container1 {
    max-width: 1600px;
    width: 100%;
    height: 655px;
}

.selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    width: 65%;
    margin-top: 20px;
}

.card-body {
    margin-left: 5px;
}

h1 {
    font-size: 37px;
}

.hr1 {
    width: 94%;
}

.hr_div {
    display: flex;
    align-items: center;
    height: 8px;
    justify-content: space-between;
}

.event_container {
    padding: 70px 70px;
    /* background-color: aqua; */
}


.select_p1,
.select_p2,
.select_p3,
.select_p4,
.select_p5 {
    margin-right: 67px;
    position: relative;
    font-size: 20px;

    &::after {
        content: '';
        height: 2px;
        background-color: rgb(250, 197, 63);
        position: absolute;
        left: 0;
        right: 0;
        bottom: -6px;
        opacity: 0;
        transform-origin: left center;
        transform: scaleX(0);
        transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    }

    &:hover::after {
        transform: scaleX(1);
        opacity: 1;
    }
}

.event_cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
    cursor: pointer;
}

.first_card,
.second_card,
.third_card {
    width: 330px;
    height: 360px;
    background-color: #FFFF;
    border-radius: 12px;
}

.fourth_card {
    width: 330px;
    height: 360px;
    background-color: #FFFF;
    border-radius: 12px;
}

.first_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.second_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.third_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.fourth_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card_img {
    width: 100%;
    height: 240px;
    border-radius: 15px;
    object-fit: cover;
}

.card_title {
    font-size: 22px;
    margin-top: 20px;
}

.card_para {
    font-size: 13px;
    margin-top: 10px;
    line-height: 1.5;
}

.select_p1:hover {
    color: rgb(250, 197, 63);
    
}

.select_p2:hover {
    color: rgb(250, 197, 63);
    
}

.select_p3:hover {
    color: rgb(250, 197, 63);
    
}

.select_p4:hover {
    color: rgb(250, 197, 63);
    
}

.select_p5:hover {
    color: rgb(250, 197, 63);
}

@media (max-width:768px) {

    .main_container1 {
        height: 100%;
    }

    .event_container {
        padding: 40px 30px
    }

    .event_cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .hr1 {
        width: 85%;
    }

    .first_card,
    .second_card,
    .third_card,
    .fourth_card {
        width: 335px;
    }

    .selection {
        width: 610px;
        justify-content: initial;
    }

    .select_p1,
    .select_p2,
    .select_p3,
    .select_p4,
    .select_p5 {
        margin-right: 13px;
        font-size: 16px;
    }

    h1 {
        font-size: 30px;
    }
}

@media (max-width:480px) {
    .event_cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-top: 30px;
    }

    .main_container1 {
        height: 100%;
    }

    .event_container {
        padding: 25px 15px;
    }

    .selection {
        width: 100%;
    }

    .select_p1,
    .select_p2,
    .select_p3,
    .select_p4,
    .select_p5 {
        margin-right: 11px;
        font-size: 11px;
    }

    .arrow_image {
        width: 40px;
        margin-right: 0px;
    }
    
    .hr1 {
        width: 86%;
    }

    .first_card,
    .second_card,
    .third_card,
    .fourth_card {
        width: 395px;
        
    }

}